<!doctype html>
<html>
   <head>
      <title>Hausman NFL Wins Pool</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   </head>
   <body class="text-center">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="max-width:42em">
         <main role="main" class="inner cover">
            {% block body %} {% endblock %}
         </main>
      </div>
   </body>
</html>
      

