{% extends "layout.html" %}
{% block body %}
<h1>Leaderboard</h1>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Total Wins</th>
      <th>Team A</th>
      <th>Team B</th>
      <th>Team C</th>
      <th>Losses</th>
      <th>&Delta;</th>
      <th>PF</th>
    </tr>
  </thead>
  <tbody>
  {% for i,entry in leaderboard %}
    <tr>
      <th scope="row">{{ i+1 }}</th>
      <td>{{ entry.name }}</td>
      <td>{{ entry.total_wins }}</td>
  {% for name, team in entry.teams.items() %}
      <td>
         <p>{{ name }}<br>
         <small>{{ team.wins }} - {{ team.losses}}</small></p>
      </td>
  {% endfor %}
      <td>{{ entry.total_losses }}</td>
      <td>{{ entry.diff }}</td>
      <td>{{ entry.pf }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
